/* variables */

:root {
    --page-header-height: 54px;
    --page_width: 935px;
    --posts-width: 614px;
    --side-bar-width: 239px;
    --top-distance: 88px;
    /* distance from top of the page defined at figma */
}

/* tags configuration */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(251, 251, 251, 1);
}

strong {
    font-weight: 500;
}

video{
    width: 100%;
}

input{
    border:none;
    width: 85%;
    margin: 0 auto;
}

/* divs configuration */

/* header */

.page_header {
    border-bottom: 1px solid #DBDBDB;
    height: var(--page-header-height);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

/* .page_header div {
    display: flex;
    align-items: center;
} */

.header_bar {
    display: flex;
    align-items: center;
    width: var(--page_width);
    justify-content: space-between;
}

.header_bar>div:last-child {
    display: flex;
}

.header_bar .icon {
    margin: 0 10px;
}

.other_icons {
    display: flex;
}

.icon {
    font-size: 22px;
}

.logo {
    width: 103px;
    height: 29px;
    margin-right: 5px;
}

.search {
    color: #979797;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 215px;
    height: 28px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(248, 248, 248, 1);
}

/* body configs */

.page_content {
    margin-top: var(--page-header-height);
    width: var(--page_width);
    display: flex;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts>div {
    width: var(--posts-width);
    border-radius: 3px;
}

/* stories configs */

.stories {
    margin-top: calc(var(--top-distance) - var(--page-header-height));
    margin-bottom: 24px;
    border: 1px solid #DBDBDB;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}

.stories .icon {
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
    top: auto;
    right: 10px;
    border-radius: 100%;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px 7px;
}

.story img {
    width: 56px;
    border-radius: 100%;
}

.story div {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/stories_background.jpg");
    border-radius: 100%;
    background-size: cover;
}

.story p {
    margin-top: 5px;
}

/* post configs */

.post {
    margin-bottom: 60px;
    border: 1px solid #DBDBDB;
    background-color: rgba(255, 255, 255, 1);
}

.post img:first-child {
    width: 32px;
    border-radius: 100%;
}

.post img:nth-child(2) {
    width: 100%;
}

.post img:nth-child(3) {
    width: 20px;
    border-radius: 100%;
}

.post_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 17px 14px 17px;
}

.post_title p {
    font-weight: 500;
    width: 100%;
    padding-left: 5px;
}

.post_title .icon {
    font-size: 16px;
}

.post_icons {
    padding: 5px 17px;
    display: flex;
    justify-content: space-between;
}

.post_icons>div * {
    margin-right: 15px;
}

.post_liked_by {
    display: flex;
    align-items: center;
    padding: 5px 17px;
}

.post_liked_by p {
    font-weight: 400;
    padding-left: 10px;
}

.comments{
    display: flex;
    justify-content: space-between;
    padding: 7px 17px;
}

.comments>div{
    display: flex;
}

.comments p:first-child{
    margin-right: 10px;
}

.comments .icon{
    font-size: 14px;
}

.input_comment{
    display: flex;
    align-items: center;
    padding: 5px 17px;
    border-top: 1px solid #DBDBDB;
}


/* sidebar configs */

.side_bar {
    width: var(--side-bar-width);
    margin-top: calc(var(--top-distance) - var(--page-header-height));
    position: fixed;
    left: 68vw;
}

.side_bar>div {
    display: flex;
    align-items: center;
}

.side_bar img {
    border-radius: 100%;
    margin-right: 13px;
}

.side_bar div:first-child {
    margin-bottom: 24px;
}

.side_bar div:first-child img {
    width: 56px;
}

.side_bar div:nth-child(2) {
    justify-content: space-between;
}

.side_bar>p {
    font-size: 11px;
    color: #C7C7C7;
    margin-bottom: 18px;
}

.suggestion_box {
    margin-bottom: 17px;
}

.suggestion_box img {
    width: 32px;
}

.suggestion_box>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* texts configs */

.font_12px {
    font-size: 12px;
}

.font_weight_500 {
    font-weight: 500;
}

/* color */

.follow_blue {
    color: #139EF2;
}

.follow_you_gray {
    color: #8E8E8E;
}

.publish{
    color: #B2DFFC;
}

.publish:hover{
    color: #0095F6;
    transition: ease 0.3s;
}

/* vertical line */

.vertical_line {
    border-left: 1px solid #DBDBDB;
    height: calc(var(--page-header-height) / 2.5);
    margin-right: 10px;
}

@media (max-width: 935px) {
    .header_bar {
        width: 100vw;
    }
    .page_content {
        width: 100vw;
        justify-content: center;
    }
    .side_bar {
        display: none;
    }
}

@media (max-width: 614px) {
    .page_content {
        width: 100%;
    }
    .other_icons {
        display: none;
    }
    .search {
        display: none;
    }
    .vertical_line {
        display: none;
    }
    .posts>div {
        width: 100vw;
    }
    .stories {
        margin: 0;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .stories .icon{
        display: none;
    }
}